body{
  margin: 0;
}

.App {
  text-align: center;
  height: auto;
  width: 100%;
  background-image: url("./Images/wooden-desk-top.jpg");
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0;
}

.render-screen{
  background-image: url("./Images/lined-paper.png");
  width: 500px;
  height: 795px;
  margin: 10px auto;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  background-size: auto 100%;
  overflow-y: scroll;
  padding-left: 90px;
  padding-top: 90px;
  padding-right: 80px;
}

.word{
  margin: 0 10px;
  position: relative;
  display: flex;
}
