body{
  margin: 0;
}

.App {
  text-align: center;
  height: auto;
  width: 100%;
  background-color: palegoldenrod;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0;
}

.render-screen{
  background-image: url("./Images/lined-paper.png");
  width: 644px;
  height: 795px;
  margin: 10px auto;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.word{
  background-color: palegreen;
  margin: 0 10px;
  display: flex;
}
