body{
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: palegoldenrod;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.render-screen{
  background-color: paleturquoise;
  width: 90%;
  height: 100vh;
  margin: 10px auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.word{
  background-color: palegreen;
  margin: 10px;
  display: flex;
}
